* {
    font-family: roboto;
}

.fillter-area {
    border: 1px solid #777777;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.fillter-title {
    background-color: #1F3247;
    color: #fff;
    padding: 5px 30px;
}

.fillter-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.btn-fillter {
    width: 120px;
}

.thead-bluedark th {
    background-color: #1F3247;
    color: white;
}

.table {
    font-size: 1.1rem;
    color: black;
    text-align: center;
    font-weight: 300;
}

.remote-title {
    color: #1A5993;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 28px;
}

.add-csdt-area {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.form-control,
.custom-file-input,
.custom-file-label {
    height: calc(2.2rem + 2px) !important;
    padding: 0 .5rem !important;
    border: 1px solid #1F3247 !important;
}

.form-name {
    font-weight: bold;
    font-size: 1rem;
}